---
import Layout from "../../components/Layout.astro";
import Code from "../../components/UI/icons/Code.astro";
import Demo from "../../components/UI/icons/Demo.astro";
import ButtonMain from "../../components/UI/buttons/ButtonMain.astro";
export async function getStaticPaths() {
  const posts = await Astro.glob("../../content/projects/*.md");
  return posts.map((post) => ({
    params: {
      slug: post.frontmatter.slug,
    },
    props: {
      post,
    },
  }));
}
const { post } = Astro.props;
const { title, image, cates, description, code, demo } = post.frontmatter;
const { Content } = Astro.props.post;
---

<Layout>
  <div class="flex flex-col">
    <img
      src={image}
      alt={title}
      class="w-full max-h-96 mt-16 rounded-sm object-cover"
    />
    <div>
      <h1 class="text-yellow-600 text-5xl -tracking-wide font-bold mt-8 mb-4">
        {post.frontmatter.title}
      </h1>
    </div>
    <Content />
    <div class="flex space-x-4 mt-4">
      <ButtonMain link={code} label="Code"><Code /></ButtonMain>
      <ButtonMain link={demo} label="Demo"><Demo /></ButtonMain>
    </div>
  </div>
</Layout>
