<<<<<<< HEAD
---
import ButtonCat from "./ButtonCat.astro";
import ButtonCode from "./ButtonCode.astro";
const {title, image, description, cates, code, demo} = Astro.props.info;
---

<div class="w-full flex flex-col">
  <!-- image card -->
  <div>
    <img class="object-cover min-w-full" src={image} alt={title} />
  </div>
  <!-- card content -->
  <div>
    <h2 class="text-2xl tracking-tight font-bold text-yellow-600 mt-4">
      {title}
    </h2>
    <div class="flex pr-1 mt-2 space-x-2">
      {
        cates.map((cate) => {
          return <ButtonCat cate={cate} />;
        })
      }
    </div>
    <p class="mt-4">{description}</p>
    <div class="flex space-x-4 mt-4">
      <ButtonCode link={code} />
      <ButtonCode link={demo} />
    </div>
  </div>
</div>
=======
---
import ButtonCat from "./ButtonCat.astro";
import ButtonCode from "./ButtonCode.astro";
const {title, image, description, cates, code, demo} = Astro.props.info;
---

<div class="w-full flex flex-col">
  <!-- image card -->
  <div>
    <img class="object-cover min-w-full" src={image} alt={title} />
  </div>
  <!-- card content -->
  <div>
    <h2 class="text-2xl tracking-tight font-bold text-yellow-600 mt-4">
      {title}
    </h2>
    <div class="flex pr-1 mt-2 space-x-2">
      {
        cates.map((cate) => {
          return <ButtonCat cate={cate} />;
        })
      }
    </div>
    <p class="mt-4">{description}</p>
    <div class="flex space-x-4 mt-4">
      <ButtonCode link={code} />
      <ButtonCode link={demo} />
    </div>
  </div>
</div>
>>>>>>> 3132d5f8e32d0cb0c81e4a9f5d02f87f707788fc
